.cardContainer{
    background-color: #fff;
    margin:1em;
}

.cardHeader{
    font-size: .875rem;
    font-weight: 700;
    border-bottom: .5px solid #eaeaea;
    padding: 0.5em 1em 0em 1em;
    margin: 0.5em;
    color: black;
}

.cardBody{
        padding: 1rem;
    position: relative;
}
