

.tag p{
    margin: 0;
    width: fit-content;
}


.tagContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    padding: 5rem 1rem;
    background-color: #f5f7ff;
    min-height: 100vh;
}

@media (min-width: 768px) {

.container{
    display: flex;
    flex-direction: row;
    padding: 0;
}

    .mainContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3rem;
    }

    .mainTabs{
        min-width: 75vw;
    }

}
