
.button:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 6px solid;
    border-color: #bdbdbd transparent transparent transparent;
    left: 110%;
    bottom: 0;
}

@media (min-width: 768px) {

}
