@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
}

a:active {
  color: #52545f;
  -webkit-appearance: none;
}

a{
  color:#52545f;
  -webkit-appearance: none;
}

a li{
  color: #52545f;
}

a svg{
  color:#52545f;
  -webkit-appearance: none;
}

html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}

body {
  font-family: "CircularStd-Book", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
strong,
caption {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CircularStd-Bold", Helvetica, Arial, sans-serif;
}

li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #eaf8f9;
  color: #2d85a4;
  font-weight: bold;
}

.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.Cell {
  border: 1px solid #f4f6f8;
  padding: 4px;
  text-align: left;
}

.payments {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.containerDataTab {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flex-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.flex-spaceBetwen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ant-table-wrapper {
  overflow-y: auto;
  max-width: 100%;
}

.titleSection {
  font-size: x-large;
  font-weight: bold;
}


.tableContainerPayments{
  width: 100%;
  background-color: white;
}